<!DOCTYPE html>
<html>

<div id="nav">
		<div class="col-sm nav-align">
			<a href="/"><h1 id="title">BOARPP</h1>
			<h5 id="slogan">play the game, claim the fame!</h5></a>
		</div>
		<div class="col-sm nav-align">
			<a href="/newpost">
				<span class="button">New post</span>
			</a>
			<a href="/search">
				<span class="button">Search</span>
			</a>
			
			
		</div>
	</div>

	</html>