

<div class="container-fluid" id = "sidenav">
	
	<div class="logo" id="logo">
		<a href="/"><p id="title">BOARPP</p>
		<h5 id="slogan">play the game, claim the fame!</h5></a>
	</div>
	
	

	<div class="postSearchButtons">
		<div id="myBtn1" class="navButton newPostButton">New post</div>
		<div id="myBtn2" class="navButton searchButton">Search</div>
	</div>
	


	<div class="logStatus">
		<div class="loggedIn"><%-loggedInUser %></div>
		<div class="navButton viewProfileButton"><a  href="/user/<%=useridnumber%>" >View profile</a></div>
		<div class="navButton logOutButton"><a href="/auth/logout">Log out</a></div>
	</div>


<!-- First modal -->
	<div class="navModal">
		<div class="modalContentStyle">
	  		<div class="closeModal">&times;</div>
	    	<form action="/posts/store" method="POST" enctype="multipart/form-data">
					<textarea id="summernoteNavbar" name="body"></textarea>
					<script>
						$('#summernoteNavbar').summernote({
        placeholder: 'What have you been playing recently?',
        tabsize: 2,
        height: 100,
        toolbar: [
            [ 'style', [ 'style' ] ],
            [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
            [ 'fontname', [ 'fontname' ] ],
            [ 'fontsize', [ 'fontsize' ] ],
            [ 'color', [ 'color' ] ],
            [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
            [ 'table', [ 'table' ] ],
            [ 'insert', [ 'link'] ],
            [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
        ]
      });
					</script>
					

					<label>Upload image (optional):</label>
					<input type="file" id="file-input" name="image">
					<img id="preview" src="">
					<button type="submit" class="postbutton" id="sendMessageButton">Post</button>
				


				</form>
		</div>
	</div>

	<!-- Second modal -->
	<div class="navModal">
		 <div class="modalContentStyle">
		  	<div class="closeModal">&times;</div>
		    <form action="/search" method="POST">
				<label>Search blog posts:</label>
				<input type="text" id="title2" name="search">
				<button type="submit" class="postbutton" id="sendMessageButton">Search</button>
			</form>
		</div>
	</div>
	


</div>




