<!doctype html>
<div class="container-fluid">
	<div class ="row no-gutters">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 mx-auto">
			<div class="standard-box signupPromo">
				Log in or sign up to join the fun, and start creating posts of your own and leave replies!
				<div class="col-sm nav-align" id="lpboxes">
			
			<a href="/auth/login">
				<span class="button">Login</span>
			</a>
			<a href="/auth/register">
				<span class="button">Sign up</span>
			</a>


			
		</div>
			</div>
		</div>
	</div>
</div>