<!DOCTYPE html>
<html>

<%- include('layouts/header'); -%>

<body>
<%- include('layouts/navbar'); -%>
<div class="container-fluid">
		<div class="row no-gutters justify-content-center">
			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
<h5 class="aboutTitle">What is Boarpp?</h5>
<p class="aboutText">Love board games? Us too! Whether you are new to the hobby, or an old hand, stay connected with other board game enthusiasts. <br/><br/>

Users create posts, which can contain texts or photos, and which can be as long or as short as they wish. The user may post details, or a review, of a game they have just played. Or they may post their hot take on current popular topics within the hobby. Or they may post a link to an article or feature elsewhere on the internet. Basically, users can post anything at all board game related!<br/><br/>

Other users may leave replies on your post, and likewise you may leave comments on other user's posts.<br/><br/>
So what are you waiting for? Get boarpping!</p>


</div>
</div>
</div>


<%- include('layouts/scripts'); -%>
</body>

</html>