<!DOCTYPE html>
<html>

<%- include('layouts/header'); -%>

<body>
<div id="lp">
		<div class="col-sm nav-align">
			<h1 id="lptitle">BOARPP</h1>
			<h5 id="lpslogan">Board gamers of the world unite!!</h5>
		</div>
		<div class="col-sm nav-align" id="lpboxes">
			
			<a href="/auth/login">
				<span class="button">Login</span>
			</a>
			<a href="/auth/register">
				<span class="button">Sign up</span>
			</a>


			
		</div>
	</div>
<%- include('layouts/scripts'); -%>
</body>

</html>