<!DOCTYPE html>
<html>
<%- include('layouts/header'); -%>


<body>
<%- include('layouts/navbar'); -%>

<div class="container">
	<div class ="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="standard-box">
				<div class="heading">Login:
				</div>
				<div class="form">
					<form action="/users/login" method="POST">
						<input type="text" id="username" placeholder="User Name" name="username">
						<input type="password" id="signUpPassword" placeholder="Password" name="password">
						<p id="passwordToggle" class="passwordToggle" onclick="showHidePasswordLogIn()">Show password</p>
						<button type="submit" class="postbutton">Login</button>
					
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('layouts/scripts'); -%>
</body>

</html>