<!DOCTYPE html>
<html>

<%- include('layouts/header'); -%>

<body>
<%- include('layouts/navbar'); -%>

	<div class="container">
		<div class ="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="standard-box">
					<h1>Error 404 page not found...</h1>
					<p>Oopsie! Looks like the dice rolled under the sofa. Why not check out another page while we try and find them!</p>
				</div>
			</div>
		</div>
	</div>



</body>

</html>